@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?cs=srgb&dl=pexels-manuel-geissinger-325229.jpg&fm=jpg&w=1920&h=672");
    background-position: 50% 0%;
    
}


.home h1{
    position:relative;
    margin-left:500px;
    color:grey;
}

.home h2{
    position:relative;
    margin-left:550px;
    color:silver;
}

.home h3{
    position:relative;
    margin-top:130px;
    margin-left:450px;
    color:silver;
}

.home button{
    position:relative;
    margin-top:50px;
    margin-left:700px;
    color:grey;
    padding:10px 10px 10px 10px;
}

.home p{
    position:relative;
    margin-top:150px;
    margin-left:620px;
    color:silver;
}

