@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?cs=srgb&dl=pexels-manuel-geissinger-325229.jpg&fm=jpg&w=1920&h=672");
    background-position: 30% 30%;
    
}
h1{
    color: silver;
    font-style: arial;
    font-weight: bolder;
    padding: 10px 0px 0px 10px;
    
}
h2 {
    color: grey;
    font-style: arial;
    font-size: 20pt;
    padding-left:650px;
    
}
input {
	display: block;
	height: 55px;
	width: 400px;
	margin-left: 0px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.01);
	color: white;
	
}

 .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    color: #017572;
 }
 
.form-signin button[type=submit]{
    background-color: rgba(255,255,255,0.0);
    border: none;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    padding-left:160px;
    font-size:20pt;
}

 
