@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body {
    background-image: url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?cs=srgb&dl=pexels-pixabay-316093.jpg&fm=jpg&w=1920&h=1080");
    background-position: 60% 20%;
    background-repeat: no-repeat;
    margin: auto;
}

header {
    display: block;
    margin: auto;
    text-align: center;
    color: grey;
    font-size:20pt;
}


.results {
    display: block;
    background-color: rgba(0,0,0,0.8);
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    color: silver;
    
}
a {
    display:block;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    color: silver;
}

form {
    display:block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    font-size: 20pt;
    font-weight: bolder;
    
}

input[type=text] {
    font-size: 20pt;
    background-color: rgba(0,0,0,0.8);
    color: silver;
}
    